$navbarHeight: 40px;
$sidebarWidth: 355px;

// value related to useIsSmallDevice hook
$smallDeviceSize: 1099px;

@mixin scrollbar {
  &::-webkit-scrollbar {
    background-color: hsl(var(--muted));
    -webkit-appearance: none;
    width: 0.35em;
    height: 0.35rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted-foreground));
    border-radius: 1rem;
  }
}

@mixin hiddenScrollbar {
  &::-webkit-scrollbar {
    position: absolute;
    background-color: transparent;
    -webkit-appearance: none;
    width: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted-foreground));
  }
}

@mixin smallDevice {
  @media screen and (max-width: $smallDeviceSize) {
    @content;
  }
}
