@use "../../styles/variables";

.sidebar {
  display: inline-flex;
  height: 100vh;

  @include variables.smallDevice {
    height: calc(100vh - #{variables.$navbarHeight});
    position: absolute;
    z-index: 99;
    width: 100% !important;
  }
}

.openSidebar {
  width: variables.$sidebarWidth;
}

.sidebarButton {
  border-right: 1px solid hsl(var(--border)) !important;

  &:focus {
    box-shadow: none !important;
  }

  @include variables.smallDevice {
    display: none !important;
  }
}
